.labs, .project-name {
    text-align: center;
}
.menu a, .projects a:hover {
    text-decoration: none;
}
.labs h2, .menu a, .project-name {
    font-weight: 700;
}
@font-face {
    font-family: introcondblack;
    src: url ('../fonts/IntroCond-Black.otf') format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: introcondlight;
    src: url ('../fonts/IntroCond-Light.otf') format("opentype");
}
body {
    font-size: 3em;
    font-family: introcondlight, arial;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1em;
}
p {
    font-size: .6em;
    padding: 1em 0 .6em;
}
.labs h2 {
    color: #2887BF;
    font-size: 2em;
}
.bg-space {
    background: url(../images/space.jpg) no-repeat;
}
.bg-space-labs {
    background: url(../images/mountains.jpg) no-repeat;
}
.bg {
    left: 0;
    top: 0;
    width: 100%;
    background-size: cover;
}
.bg-space footer, .bg-space-labs footer {
    position: absolute;
    margin: 50px auto 30px;
    display: table;
    left: 0;
    right: 0;
    width: 260px;
}
.slackmenu h1, .slackmenu h2, .slackmenu p {
    color: #e8e8e8;
}
.snap {
    background: url(../images/cover-snap.svg) no-repeat;
}
.watch {
    background: url(../images/cover-watch.svg) no-repeat;
}
.words {
    background: url(../images/cover-words.svg) no-repeat;
}
.flappy {
    background: url(../images/cover-flappy.svg) no-repeat;
}
.calendar {
    background: url(../images/cover-calendar.svg) no-repeat;
}
.whack {
    background: url(../images/cover-whack.svg) no-repeat;
}
.orbit {
    background: url(../images/cover-orbit.svg) no-repeat;
}
.pattern {
    background: url(../images/cover-pattern.svg) no-repeat;
}
.webaudio {
    background: url(../images/cover-note.svg) no-repeat;
}
.flickr {
    background: url(../images/cover-flickr.svg) no-repeat;
}
.dentist {
    background: url(../images/cover-dentist.svg) no-repeat;
}
.lab-tile-img {
    width: 100%;
    margin-bottom: 30px;
    display: block;
    background-size: 50%;
    background-position: 50% 30%}
.box-area {
    margin: 0 -15px;
}
.projects .box {
    margin: 0;
    width: 100%;
    min-height: 300px;
}
.project-name {
    padding: 20px;
    font-size: 1.2em;
}
.project-title {
    margin-top: 200px;
    padding-bottom: 10px;
    width: 100%;
    display: table;
    height: 10%;
    background-color: #f9f9f9;
}
.project-tags span.tag, .project-title span {
    margin: 20px;
    display: inline-block;
    float: left;
    color: #6F6F6F;
    font-size: .6em;
    text-align: left;
}
.project-tags {
    display: block;
    clear: both;
    margin: 15px;
}
.project-tags span.tag {
    padding: 5px;
    margin: 10px 5px;
    border: 2px solid #2887bf;
    font-size: .4em;
    color: #2887bf;
}
.intro {
    text-align: center;
}
.intro h3 {
    margin-top: 30px;
    color: #C1C1C1;
}
.app img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: table;
}
.skills ul {
    margin-top: -30px;
    padding-left: 0;
}
.skills ul li {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 4px;
    display: inline-block;
}
footer {
    position: relative;
    margin: 50px auto 30px;
    display: table;
}
.footer-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 20px;
}
.back, .menu a {
    display: block;
}
.slackmenu {
    padding-bottom: 2em;
}
section.slackmenu {
    border-bottom: none;
}
.menu {
    margin-top: 60px;
}
.menu a {
    margin: 0 30px 20px;
    padding: 20px 40px;
    color: #e8e8e8;
    border: 5px solid #e8e8e8;
    transition: all .2s ease-in;
    transform: scale(1);
    font-size: .8em;
}
.menu a:hover {
    color: #fff;
    transition: all .3s ease-in;
    transform: scale(1.2);
}
.back {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/back.svg) no-repeat;
}
.github-icon {
    background: url(../images/github-logo.svg) no-repeat;
}
.linkedin-icon {
    background: url(../images/linkedin-logo.svg) no-repeat;
}
.angellist-icon {
    background: url(../images/angellist-logo.svg) no-repeat;
}
@media (min-width:480px) {
    .footer-icon {
    margin: 0 30px;
}
.bg-space footer {
    width: 320px;
}
.lab-tile-img {
    background-size: 25%}
}@media (min-width:768px) {
    h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
section {
    padding: 2em 0 5em;
}
section.projects {
    padding: 2em 0;
}
.projects .row {
    margin-bottom: 20px;
}
.menu a {
    display: inline-block;
    margin-bottom: 0;
}
.back {
    top: 85px;
}
.projects .box {
    border: 1px solid #D0D0D0;
    border-radius: 4px;
}
}@media (min-width:992px) {
    .lab-tile-img {
    background-size: 40%}
.projects .box {
    margin: 2%;
    width: 95%}
}
