body {
  /*force hardware acceleration*/
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
a {
  text-decoration: none !important;
  color: #000 !important;
  cursor: pointer !important;
}
.actions-container {
  position: sticky !important;
  bottom: 0;
  background-color: #FFF;
  top: 0px;
}
.add-container {
  margin-top: 90px;
}
.bigscore-wrapper div {
  display:none;
}
.bigscore-wrapper div.true,
a {
  display:block;
}
.btn-delete {
  color: #d06262 !important;
}
.flexbox-container {
  display: flex;
  justify-content: space-between;
}
.flexbox-name,
.flexbox-delete {
  flex-grow: 1;
}
.flexbox-delete {
  float: right;
  text-align: right;
}
.bigscore-value {
  text-align: center;
  display: table;
  margin: 0px auto;
  font-size: 10em;
  color: #c1c1c1;
}
.btn {
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  width: 100%;
  margin: 15px 0px;
  color: #FFF !important;
}
.btn-container,
.btn-player,
.delete-container ul  {
  width: 100%;
}
.player-add {
  margin: 20px 0px;
  border: solid 1px #52d26f;
  background-color: #52d26f;
  color: #FFF;
  float: right;
}
.counter-container {
  display: flex;
}
.circle {
  position: relative;
  border-radius: 10%;
  border: solid 1px #a7a7a7;
  flex: 1;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.circle:hover,
.modal-close:hover,
.sortable li:hover {
  cursor: pointer;
}
.circle div {
  margin: 0px auto;
  display: flex;
  margin-top: 30%;
}
.buttonText {
  align-self: flex-start;
}
.circle a {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 100%;
  top: 0;
}
.circle::before, .circle a::before {
  content: "";
	display: block;
  padding-top: 100%;
}
.delete {
  position: relative;
}
.delete-button {
  position: absolute;
  border: solid 2px #ef7b7b;
  background: #ef7b7b;
  border-radius: 4px;
  display: inline;
  margin-top: -27px;
  padding: 0px 25px;
  color: #FFF;
  top: 50px
}
.modal-close {
  padding: 20px;
  position: absolute;
  right: 5px;
  cursor: pointer !important;
}
.modalbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.8;
}
.modalbox-container {
  display: none;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 10;
  z-index: 1;
  top: 0;
  padding-right: 20px;
}
.playername {
  font-size:1.4em;
}
.score-badge {
  position: absolute;
  display: inline-block;
  float: right;
  border: solid 1px #e6e6e6;
  padding: 0px 15px;
  border-radius: 4px;
  min-width: 90px;
  text-align: center;
  font-size: 2em;
  right: 30px;
}
.score-buttons {
  flex-grow: 1;
  flex-basis: 100%;
  display: inline-flex;
}
.delete-container .sortable-players li  {
  min-height: auto;
}
.sortable li.selected {
  background-color:#9a9a9a;
}
.sortable-players,
.delete-container  {
  margin-top: 48px;
}
.sortable-players li {
  list-style-type: none;
  padding: 10px;
  background-color: #d1d3d4;
  margin-bottom: 10px;
  border-radius: 4px;
  min-height: 95px;
  display: flex;
  align-items: center;
}
.sortable-players li.hide,
.flexbox-container .hide {
  display: none;
}
.txt-addplayer {
  padding: 4px;
  border: solid 1px #888888;
  border-radius: 4px;
  width: 100%;
  font-size: 2em;
}
ul.sortable {
  padding: 0px;
}
@media only screen and (min-width: 320px){
  .circle div {
    font-size:20px;
  }
}

@media only screen and (min-width: 768px){
  .circle div {
    font-size:50px;
  }
  .btn {
    width:auto;
    min-width: 250px;
  }
  .txt-addplayer {
    min-width: 320px;
  }
  .btn-primary {
    float:right;
    margin:10px 0px;
  }
  .modal-close {
    right: 10%
  }
}
