body {

}

.hero-header {
    padding: 10px;
    font-size: 16px;
    font-weight:bold;
    background-color: #1C4676;
    color: #FFF;
    text-transform: uppercase;
}
.item {
    border: solid 1px #adadad;
    margin: 10px 0px;
}
.item-header {
    padding: 15px 0px;
    font-size: 14px;
    text-transform: uppercase;
}
.item-header span {
    color: #B51D21;
}
.item-list {
    list-style-type: none;
    padding:0px;
}
.item-list li, 
.item-list-sports li {
    padding: 5px;
}
.item-list-sports li {
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 22px;
}
.item-list li span, 
.item-list-sports li span {
    font-size: 13px;
}
.item-list li:nth-child(odd){
    background-color: #E5E5E5;
}
.item-description {
    padding-left: 15px;
}
.rule {
    width: 100%;
    border-top: solid 5px #a2a2a2;
    padding-bottom: 5px;
}
.sports-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #249A31;
}
.time {
    text-transform: uppercase;
}
.time:after {
    content: "|";
    left: 0;
    position: absolute;
    line-height: 25px;
    padding: 0px 5px;
    margin-left: 68px;
}