.msg{
  display: none;
  float: right;
  font-size: 1.2em;
  font-family: courier;
  font-weight: bold;
}
.paste-box{
  padding: 20px;
  background-color: #F0F0F0;
  margin: 10px 20px;
  border-radius: 8px;
}
.paste-box:hover {
  cursor:pointer;
}
.paste-box-item {
  font-size:1.2em;
  font-family:courier;
}
.paste-example {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  border: dashed 5px #c4c4c4;
  font-size: 2em;
  color: #c4c4c4;
}
.textareaPaste {
  width: 1px;
  height: 1px;
  border: none;
}
